.main {
    width: 100%;
    height: 5vh;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: row;
    align-items: center;
}
.leftContainer {
    font-size: xx-large;
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.centerContainer {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchBar {
    width: 100%;
    height: 80%;
    border-radius: var(--border-radius);
    border: none;
}
.rightContainer {
    /*background-color: #FA4197;*/
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #FA4197;
    font-size: xx-large;
}
.button_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.header_button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}